body
{
	background-color:grey;
	font-family:arial, helvetica, sans-serif;
}

#menu
{
	float:left;
	list-style-type:none;
	margin:0;
	padding:20px 0;
	width:100%;
}

#menu li
{
	float:left;
	margin:0;
	padding:0;
}

#menu li a
{
	background-image:url(../spritev3.gif);
	color:#000;
	float:left;
	height:50px;
	text-align:center;
	text-decoration:none;
	text-indent:-1000em;
	width:225px;
}

#gallery a
{
	background-position:0 -0;
}

#screendesign1 a
{
	background-position:-225px 0;
}

#screendesign2 a
{
	background-position:-450px 0;
}

#furtherinfo a
{
	background-position:-675px 0;
}

#gallery a:hover
{
	background-position:0 -50px;
}

#screendesign1 a:hover
{
	background-position:-225px -50px;
}

#screendesign2 a:hover
{
	background-position:-450px -50px;
}

#furtherinfo a:hover
{
	background-position:-675px -50px;
}

#gallery a:active
{
	background-position:0 -100px;
}

#screendesign1 a:active
{
	background-position:-225px -100px;
}

#screendesign2 a:active
{
	background-position:-450px -100px;
}

#furtherinfo a:active
{
	background-position:-675px -100px;
}

#pagecurrentgallery a
{
	background-position:0 -100px;
}

#pagecurrentscreendesign1 a
{
	background-position:-225px -100px;
}

#pagecurrentscreendesign2 a
{
	background-position:-450px -100px;
}

#pagecurrentfurtherinfo a
{
	background-position:-675px -100px;
}

#container
{
	background-color:#FFF;
	margin:auto;
	width:900px;
}

div.previewimage
{
	float:left;
	height:150px;
	margin:11px;
	width:150px;
}

div.largeimage
{
	float:left;
	margin:20px;
	width:600px;
}

div.imagecontainer
{
	margin:auto;
	padding:60px 20px;
}

h1
{
	margin:0;
	padding:20px 0 0;
	text-align:center;
}

#textdescription
{
	float:left;
	width:200px;
}

p.imageoriginallink
{
	font-size:small;
	margin-bottom:5px;
	margin-top:5px;
}

p.footprint
{
	margin-bottom:0;
	margin-left:20px;
}

p.descriptionofimage
{
	color:gray;
	font-size:14px;
}

#banner
{
	clear:both;
	padding-top:20px;
	text-align:center;
}

#furtherdets
{
	padding:20px;
}