.menu-item {
  display: block;
  float: left;
  width: 50%; /* 100/number of items */
}
div.testimonial
{
	float:left;
	margin: 0% 1% 0% 1%;
	width: 100%;
}
.mosaicflow__item p
{
  opacity: 1;
}
div.contactpage
{
    width: 94%;
    float: left;
    margin: 3%
}
img.logo
{
	width: 40%;
}