body
{
  background-color: #fff;
  margin: 0;
}
.menu-item
{
  display: block;
  float: left;
  width: 100%; /* 100/number of items */
}
div.testimonial
{
	float:left;
	margin: 0% 1% 0% 1%;
}
div.wrapper
{
    background-color: #fff;
    width: 100%;
    margin: 0;
}
div.clientpagebtm
{
    width: 100%;
}
.mosaicflow__item p
{
  opacity: 1;
}
img.logo
{
    display: block;
    margin: 2% auto;
    width: 50%;
}