body
{
  background-color: #fff;
  margin: 0;
}
#menu li
{
  display: block;
  float: left;
  width: 100%; /* 100/number of items */
}
#menu a {
  background:url(img/spritemobile.gif);
}
p.tagline
{
  margin: 6%;
}
div.testimonial
{
	float:left;
	margin: 0% 1% 0% 1%;
}
div.wrapper
{
    background-color: #fff;
    width: 100%;
    margin: 0;
}
div.clientpagebtm
{
    width: 100%;
}
.mosaicflow__item p
{
  opacity: 1;
}
header h1
{
    width: 100%;
}


